@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

button {
  border-width: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100rem;
  height: auto;
  margin: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.666rem;
  color: #192252;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22.75em;
}

.navigation__link {
  font-family: 'Inter', sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  color: #192252;
}

.navigation__button {
  width: 10rem;
  height: 4rem;
  border-radius: 0.333rem;
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  -webkit-border-radius: 0.333rem;
  -moz-border-radius: 0.333rem;
  -ms-border-radius: 0.333rem;
  -o-border-radius: 0.333rem;
}

.section1 {
  height: 70.416rem;
}

.section2 {
  height: 61.333rem;
}

.section3 {
  height: 32rem;
  margin-top: 6.666rem;
  margin-bottom: 2.666rem;
}

.section4 {
  height: 32rem;
  margin-bottom: 6.666rem;
}

.section5 {
  height: 98rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__left_picture1 {
  position: relative;
  width: 32rem;
  height: 48rem;
}

.content__left_picture2 {
  position: relative;
  width: 32rem;
  height: 32rem;
}

.content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__right_picture1 {
  position: relative;
  width: 49rem;
  height: 57.083rem;
}

.content__right_picture2 {
  position: relative;
  width: 32rem;
  height: 32rem;
}

.paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paragraph_size1 {
  width: 48.75rem;
  height: 27.666rem;
}

.paragraph_size2 {
  width: 57.5rem;
  height: 30.5rem;
}

.paragraph_size3 {
  width: 48.666rem;
  height: 13.25rem;
}

.paragraph_size4 {
  width: 48.666rem;
  height: 13.25rem;
}

.paragraph__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.666rem;
  color: #192252;
}

.paragraph__title_bigsize {
  font-size: 4rem;
}

.paragraph__text {
  font-family: 'Iter', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #848FAC;
  line-height: 150%;
}

.paragraph__btn {
  background-color: #0E1734;
  border-radius: 0.25rem;
  width: 12.666rem;
  height: 4.25rem;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84.666rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content1__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 59.416rem;
}

.paragraph_textcenter {
  width: 49rem;
  height: 18rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paragraph_size5 {
  height: 16rem;
}

.paragraph__title_minsize {
  font-size: 2rem;
  color: black;
}

.paragraph__btn_opacity {
  background-color: transparent;
  color: #424F7B;
  text-align: start;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100rem;
}

.images__image {
  position: relative;
  width: 32rem;
  height: 40.75rem;
}

.paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 37rem;
  background-color: #0B265A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content2__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45.916rem;
}

.paragraph_size6 {
  height: 17rem;
}

.paragraph__title_color-and-size {
  font-weight: 700;
  color: white;
  font-size: 2.666rem;
}

.paragraph__text_color-and-line-height {
  padding-bottom: 2rem;
  color: #D9DBDE;
}

.paragraph__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12rem;
}

.icons__icon {
  position: relative;
  width: 2.666rem;
  height: 2.666rem;
}

.right__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right__column_height1 {
  height: 15.916rem;
}

.right__column_height2 {
  height: 8.75rem;
}

.right__column_height3 {
  height: 12.333rem;
}

.column__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.333rem;
  color: white;
}

.column__link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.333rem;
  color: white;
}

@media screen and (max-width: 3840px) {
  * {
    font-size: 32px;
  }
}

@media screen and (max-width: 2560px) {
  * {
    font-size: 21.333px;
  }
}

@media screen and (max-width: 2220px) {
  * {
    font-size: 18.5px;
  }
}

@media screen and (max-width: 1920px) {
  * {
    font-size: 16px;
  }
}

@media screen and (max-width: 1745.4545px) {
  * {
    font-size: 14.5454px;
  }
}

@media screen and (max-width: 1600px) {
  * {
    font-size: 13.333px;
  }
}

@media screen and (max-width: 1440px) {
  * {
    font-size: 12px;
  }
}

@media screen and (max-width: 1366px) {
  * {
    font-size: 11.383px;
  }
}

@media screen and (max-width: 1260px) {
  * {
    font-size: 10.5px;
  }
}

@media screen and (max-width: 1140px) {
  * {
    font-size: 9.5px;
  }
}

@media screen and (max-width: 960px) {
  * {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 6.4px;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 5px;
  }
}

@media screen and (max-width: 540px) {
  * {
    font-size: 4.5px;
  }
}

@media screen and (max-width: 425px) {
  * {
    font-size: 3.541px;
  }
}

@media screen and (max-width: 375px) {
  * {
    font-size: 3.125px;
  }
}

@media screen and (max-width: 320px) {
  * {
    font-size: 2.666px;
  }
}

@media screen and (max-width: 270px) {
  * {
    font-size: 2.25px;
  }
}

@media screen and (max-width: 240px) {
  * {
    font-size: 2px;
  }
}

@media screen and (max-width: 210px) {
  * {
    font-size: 1.75px;
  }
}

@media screen and (max-width: 180px) {
  * {
    font-size: 1.5px;
  }
}

@media screen and (max-width: 150px) {
  * {
    font-size: 1.25px;
  }
}

@media screen and (max-width: 120px) {
  * {
    font-size: 1px;
  }
}

@media screen and (max-width: 90px) {
  * {
    font-size: 0.75px;
  }
}

@media screen and (max-width: 60px) {
  * {
    font-size: 0.5px;
  }
}
